
* {
        font-family: 'Raleway', sans-serif;
}   

html {
    width: 100%;
}

.main-contenair { 
    width: 100%;
}

body {
    margin-left: 0px;
    margin-right: 0px;
    
}

button { 
    font-size: 16px;
    padding: 20px;
}

/* Header */ 

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_ohmyfood {
    width: 40%;
    height: 50px;
}

.lieu { 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: #EAEAEA;

}

.icone_lieu {
    height: 30px;
    background-color: #EAEAEA;

}

.boutton-explorer { 
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    border-radius: 30px;
    border: 0px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    color: white;
    transition: all 450ms;
}
.boutton-explorer:hover {
    transform: scale(1.13);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.40);
}
/* main contenair */

.div1 {
    background-color: #F6F6F6;
    DISPLAY: FLEX;
    FLEX-DIRECTION: column;
    ALIGN-ITEMS: center;
    padding: 30px;
}

/* Fonctionnement */ 
.Fonctionnement {
    margin-top: 70px;
    margin-left: 20px;
}

.boutton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.boutton-fonctionnement { 
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    border-radius: 20px;
}


/* Restaurants */ 

.restaurants { 
    background-color: #F6F6F6;
    padding-top: 40px;
    margin-top: 70px;
    padding-left: 20px;
    padding-bottom: 60px;
}

.restaurants-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.restaurants .card { 
    background-color: white;
    border-radius: 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 90%;
    color: black;
    text-decoration: none;
    height: 330px;
}

.card img {
    width: 100%;
    height: 231PX;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    object-position: center;
}

.restaurants .card-content { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;

}

/* Footer */ 

footer {
    background-color: #353535;
    color: white;
}

ul {
    list-style: none;
}

